# Ignore files cached by Hypothesis...
.hypothesis/*
# except for the examples directory
!.hypothesis/examples/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Ignore all local history of files
.history/
.ionide/

__pycache__/

# Keep performance snapshots
!performance_snapshots.json

# Ignore profile.json
profile.json
profile.html
game_profile.prof